.title-input {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: 700;
    color: #595959;
    border: none;
    outline: none;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 100%;
}

.with-margin {
    margin-right: 30px;
}

.status-text {
    font-size: 1.334rem;
    white-space: nowrap;
    color: #ddd;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.status-text a {
    margin: 0 .2em;
    padding: .2em .8em;
    color: inherit;
    text-decoration: none;
    border: 1px solid currentColor;
    border-radius: 2px;
    display: inline-block;
}

.status-text a:hover {
    color: #ccc;
}

.with-padding {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.publish {
    margin-left: 20px;
    position: relative;
    display: inline-block;
}

.select-tags {
    position: absolute;
    width: 28rem;
    border: 1px solid #ddd;
    right: 46px;
    top: 63px;
    z-index: 1;
    background: #fff;
    padding: 2rem;
}

.select-tags .title {
    margin-bottom: 1.5rem;
    font-size: 1.56rem;
    font-weight: 700;
    color: hsla(218, 9%, 51%, .8);
}

.select-tags .tag-box {
    margin-bottom: 1.6rem;
}

.select-tags .sub-title {
    margin-bottom: 1rem;
    font-size: 1.334rem;
}

.select-tags .category-list,
.select-tags .tag-list {
    white-space: normal;
}

.select-tags .category-list .item,
.select-tags .tag-list .item {
    display: inline-block;
    margin: 0 .6rem .8rem 0;
    padding: .4rem .7rem;
    font-size: 1.1rem;
    white-space: nowrap;
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    cursor: pointer;
}

.select-tags .category-list .item.active,
.select-tags .category-list .item:hover,
.select-tags .tag-list .item.active,
.select-tags .tag-list .item:hover {
    color: #007fff;
    border-color: rgba(0, 127, 255, .15);
    background-color: rgba(0, 127, 255, .05);
}


.select-tags .publish-btn {
    display: block;
    margin: 0 auto;
    padding: .6rem 1.2rem;
    color: #007fff;
    background: #fff;
    border: 1px solid currentColor;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    transition: all .2s;
}

.select-tags .publish-btn:hover {
    background-color: rgba(3, 113, 223, .05);
}

.select-tags:before {
    content: "";
    position: absolute;
    margin-left: -.5rem;
    top: -.6rem;
    left: 89%;
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right: none;
    border-bottom: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.select-tags .tag-input {
    position: relative;
}

.select-tags .input {
    padding: .2em 0;
    width: 100%;
    font-size: .9em;
    border: none;
    border-bottom: 1px solid #f1f1f1;
    border-radius: 0;
    outline: none;
}

.suggested-tag-list {
    position: absolute;
    top: 105%;
    left: 0;
    margin: 0;
    padding: .6rem 0;
    width: 16rem;
    background-color: #fff;
    border: 1px solid #ddd;
    list-style: none;
    z-index: 500;
}

.suggested-tag-list .tag {
    padding: .6rem 1rem;
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.suggested-tag-list .tag:hover {
    color: #007fff;
}

.publish-button {
    width: 82px;
    height: 32px;
    line-height: 30px;
    padding: 0;
}

.publish-button .icon {
    margin-right: -5px;
    margin-left: 5px;
    pointer-events: none;
}

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 5.334rem;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.editor-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #36312C;
    color: #EBD1B7;
    padding: 10px 25px;
}

.editor-box textarea {
    min-height: 500px;
    padding: 20px;
    position: fixed;
    top: 57px;
    left: 0;
    bottom: 0;
    width: 50%;
    overflow: auto;
    box-shadow: -10px 2px 6px 10px rgba(0, 0, 0, 0.4);
    height: 100%;
}

.content-preview,
.editor {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    height: 100%;
    overflow-y: auto;
}

.content-preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /*background-color: #f7f7f7;*/
    background-color: #fff;
    border-left: 1px solid #ddd;
    padding: 30px 20px;
    line-height: 1.5em;
    box-sizing: border-box;
    width: 100%;
    max-width: 980px;

}

.content-preview img,
.content-preview video {
    max-width: 100%;
    max-height: 668px;
    margin: 2em auto;
    text-align: center;
}