@import '~antd/dist/antd.css';

.App {
    height: inherit;
}

.App > div {
    height: inherit;
}

.init{
    background: #fff;
    z-index: 999999;
    position: absolute;
    width: 100%;
    height: 100%;
}