/*----------------全局样式-------------------*/
* {
    box-sizing: border-box;
    padding: 0
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: -apple-system, PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Helvetica Neue, sans-serif;
    font-size: 12px;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
}

*::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

button, input {
    overflow: visible;
}

button, input, select, textarea {
    font: inherit;
    margin: 0;
}

/*
  清除浮动
*/
.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}

#root {
    height: 100%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 1.4rem;
    height: 5.334rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 100;
}

.right-box {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.Input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0;
    overflow: hidden;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
}

.Button {
    color: gray;
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid #ccd8e1;
    border-radius: 3px;
}

.Button:focus {
    outline: 5px auto #f1f2f3;
}

.Button:active {
    background-color: #b3b3b3;
    color: #fff;
}

.Button:hover {
    background-color: rgba(207, 216, 230, .1);
}

.Button:focus {
    outline: none;
}

.Button--blue {
    color: #0080ff;
    border: 1px solid #0f88eb;
}

.Button--blue:hover {
    background-color: rgba(13, 121, 209, .06);
}

.Button--blue:active {
    background: #0080ff;
    color: #fff;
}

/*------------------------第三方插件样式修改--------------------------*/

/*---------------------------ant-design----------------------------*/
.login .sign-flow .ant-tabs-nav-container {
    font-size: 18px;
}

.login .sign-flow .ant-tabs-ink-bar {
    width: 56px !important;
}

.login .sign-flow .ant-tabs-bar {
    border-bottom: none !important;
}

.login .sign-flow .ant-tabs-nav .ant-tabs-tab {
    padding: 8px 10px;
    margin-left: 32px;
}

.login .sign-flow .ant-tabs-nav .ant-tabs-tab:last-child {
    margin-right: 32px;
    margin-left: 0;
}

.login .sign-flow .ant-tabs-top .ant-tabs-ink-bar-animated,
.login .sign-flow .ant-tabs-bottom .ant-tabs-ink-bar-animated {
    transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.login .ant-form-item-control {
    line-height: 20.9px;
    position: relative;
}

.login .ant-form-item {
    margin-bottom: 0;
}

.login .ant-form-explain, .ant-form-extra {
    position: absolute;
    right: 8px;
    top: 0;
    z-index: 99;
    height: inherit;
    line-height: 48px;
}

.pop-content .ant-popover-inner-content {
    padding: 0;
}

/*------------------------codeMirror插件-----------------------------*/
.CodeMirror {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: 100% !important;
    font-family: "PT Sans", sans-serif !important;
    background-color: inherit !important;
    font-size: 16px;
}

.CodeMirror-cursor {
    border-left: 1px solid #c9c9c9 !important;
    border-right: none;
    width: 0;
}
