.navbar {
    contain: layout;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 59px;
    width: 100%;
    border-bottom: 1px solid transparent;
    color: #808080;
    background: rgba(255, 255, 255, .97);
    z-index: 2;
    position: relative;
    display: flex;
}

.navbar.scroll-back-fixed-active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border-color: rgba(0, 0, 0, .08);
}

/*.navbar.scroll-back-fixed {*/
/*position: fixed;*/
/**/
/*-webkit-transform: translateY(-100%);*/
/*transform: translateY(-100%);*/
/*will-change: transform;*/
/*}*/

.navbar-logo-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 58px;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.navbar-logo {
    padding-left: 10px;
    display: flex;
    width: 150px;
    align-items: center;
    height: 100%;
}

.navbar-logo img {
    width: 140px;

}

.nav-title {
    margin: 0 auto;
    width: 660px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    display: flex;
}

.nav-title-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
}

.page-title {
    font-weight: 700;
    color: #333;
    font-size: 16px;
    margin-right: 20px;
}

.page-title-sub {
    color: gray;
}

.navbar-functionality {
    position: absolute;
    right: 0;
    top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 58px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    width: 168px;
    display: flex;
    z-index: 1000;
}

.publish {
    position: relative;
    padding: 0 10px;
    cursor: pointer;
}

.writing {
    cursor: pointer;
}

.writing:hover {
    text-decoration: none;
    color: #333;
}

.writing a {
    color: #656565;
}

.writing a:hover {
    color: #0f88eb;
}

.iconfont.icon-gengduo {
    font-size: 25px;
    cursor: pointer;

}

.navbar-functionality .menu {
    position: relative;
    margin-left: 30px;
}

.menu-list {
    height: 100%;
}

.menu-item {
    height: 54px;
    line-height: 54px;
    white-space: nowrap;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 20px;
}

.menu-item a {
    display: block;
}

.menu-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.menu-item:hover {
    background: rgb(247, 248, 249);
}

.icon-xiezuo {
    font-size: 18px;
}

.Layout-main {
    margin: 47px auto 0;
    padding: 0;
    width: 660px;
    z-index: 1;
}

.Drafts-list {
    margin-bottom: 80px;
}

.Drafts-item {
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .06);
    list-style: none;
}

.Drafts-link, .Drafts-title {
    color: #333;
    text-decoration: none;
}

.Drafts-title {
    font-size: 16px;
    padding: 0 0 8px;
    font-weight: 400;
    line-height: 1.5;
    word-break: break-all;
    max-height: 60px;
    margin: 0;
    overflow: hidden;
}

.Drafts-meta {
    color: gray;
    text-decoration: none;
    font-size: 14px;
    display: inline;
}

.Drafts-updated {
    position: relative;
    cursor: pointer;
    color: gray;
}

.Bull {
    margin: 0 6px;
}

.Bull:before {
    content: "\B7";
}

.Drafts-removeButton {
    cursor: pointer;
}

.Drafts-removeButton:hover {
    color: #333;
}

.pop-content {
    width: 220px;
    line-height: 54px;
    font-size: 14px;
    text-align: left;
    color: rgb(51, 51, 51);
}

.pop-content .menu-list .menu-item a,
.left-nav-pop .menu-list .menu-item a {
    text-decoration: none;
    color: #333;
}

.draft-modal-delete {
    padding: 0 38px;
    margin-top: 4px;
    font-size: 14px;
    line-height: 1.5;
    color: #8590a6;
    text-align: center;
}

.draft-removeButton {
    cursor: pointer;
}

.draft-removeButton:hover {
    color: #333;
}

.w-modal-body {
    overflow: auto;
    background: #fff;
    border-radius: 2px;
}

.w-modal-title {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 500;
    color: #262626;
    text-align: center;
}

.w-modal-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 24px 32px;
    margin-top: 24px;
    line-height: 1.7;
    opacity: 1;
}

.w-modal-button-group {
    margin-top: 40px;
    margin-bottom: 16px;
}

.button-group-center button {
    display: block;
    width: 220px;
    margin-right: auto;
    margin-left: auto;
}

.button-group-center button + button {
    margin-top: 28px;
}

/*删除草稿箱模态框居中*/
.deleteModal .ant-modal {
    top: 50%;
    margin-top: -170px;
}

.vertical-center-modal {
    text-align: center;
    white-space: nowrap;
}

.vertical-center-modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}

.vertical-center-modal .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
}